                <footer class="footer">
                    <div class="text-center py-5">
                        <small class="copyright">Content Copyright &copy; <a href="https://madpenguin.uk/" target="_blank">Mad Penguin Consulting Ltd</a></small><br/>
                        <small class="copyright">Template Copyright &copy; <a href="https://themes.3rdwavemedia.com/" target="_blank">3rd Wave Media</a></small>
                        <ul class="social-list list-unstyled pt-4 mb-0">
                            <li class="list-inline-item"><a href="https://gitlab.com/oddjobz/pynndb2"><i class="fab fa-github fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/garethbult"><i class="fab fa-twitter fa-fw"></i></a></li>
                            <li class="list-inline-item"><a href="https://linuxuk.slack.com"><i class="fab fa-slack fa-fw"></i></a></li>
                        </ul><!--//social-list-->
                    </div>
                </footer>
            </div>
        </div>
    </div><!--//docs-wrapper-->

    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/cjs/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


    <!-- Page Specific JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
    <script src="assets/js/highlight-custom.js"></script>
    <script src="assets/plugins/jquery.scrollTo.min.js"></script>
    <script src="assets/plugins/lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="assets/js/docs.js"></script>

</body>
</html>