/*
 * Local CSS overrides
*/

.docs-article .docs-heading {
    color: teal;
    font-size: 2.8em;
    margin-bottom: 0.25em;
}

.docs-article .section-heading {
    color: teal;
    font-size: 2em;
    margin-bottom: 0.4em;
}

.docs-article .docs-section {
    border-bottom: none;
}

ul .section-items {
    display: none;
}

.package {
    color:  #c00;
}

.docs-nav .section-title {
    margin-bottom: 0!important;
}

.chevron {
    color:  gray;
}

.version {
    color: teal;
    font-size: 0.7em;
    font-weight: 400;
}

pre {
    margin-bottom: 0!important;
}

.container {
    max-width: none!important;
}

div.container {
    padding-left: 1.8em;
    padding-right: 1.8em;
}

.classdef {
    padding-bottom: 0em;
    padding-top: 1em;
}

.keyword {
    color: teal;
    font-weight: bold;
}

.literal {
    color: teal;
    font-weight: bold;
}

.klass {
    color: #0066ff;
    font-weight: bold;
}

div.classdef span.klass {
    font-size: 1.4em;
}

.return {
    color: #993399;
    font-size: 1.1em;
    font-weight: bold;
}

.var {
    color: green;
    font-weight: bold;
}

.docs-nav {
    padding-top: 0!important;
}

.docs-nav .section-title {
    margin-bottom: 0!important;
}

.methodslabel {
    background-color: #00cc99;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.params {
    margin-block-start: 0.5em;
}

.param {
    color: green;
    font-weight: 600;
}

.type {
    color: #3366ff;
    font-weight: 600;
}

li {
    color: gray;
    margin-left: 0.em;
}

.paramslabeldiv {
    margin-top: 0.3em;
}

.methodslabeldiv {
    margin-top: 0.3em;
}

.paramslabel {
    background-color: #6699ff;
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.method {
    color: #0066ff;
    font-weight: 700;
}

div.function span.method {
    font-size: 1.2em;
}

.cdef {
    margin-top: 0.2em;
    margin-left: 2em;
}

.function {
    margin-left: 2em;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}

div.moduledoc div {
    line-height: 1.5em!important;
}

div.moduledoc {
    background-color: #e6f2ff;
    color: teal;
    font-family: monospace;
    margin-left: 0em;
    margin-top: 2em;
    padding-bottom: 1em;
    padding-left: 1.3em;
    padding-right: 1.5em;
    padding-top: 1em;
    text-align: justify;
    white-space: pre-wrap;
    width: 75em;
    word-wrap: normal;
    line-height: 1em;
}

div.function div.docstring {
    margin-top: 8px;
    width: 71.5em;
}

div.docstring {
    background-color: #e6f2ff;
    color: teal;
    font-family: monospace;
    margin-left: 1em;
    margin-top: 4px;
    padding-bottom: 1em;
    padding-left: 1.3em;
    padding-right: 1.5em;
    padding-top: 1em;
    text-align: justify;
    white-space: pre-wrap;
    width: 74em;
    word-wrap: normal;
}

.defaultvalue {
    color: #669900;
    font-weight: 700;
}

.docs-wrapper{
    position:relative
}

.docs-sidebar {
    padding-right: 1em;
}
